@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-color: #317c37;
    filter: brightness(70%) grayscale(50%);
  }
